menu=('[ 1 ]addition, [ 2 ]subtraction,  [ 3 ]multiplication, [ 4 ] divission')

print("Hello, what do you prefer: ", menu)

ch=input()
if ch == '1':
    print("Solve for the sum")
    a=int(input("Input numbers to solve: "))
    b=int(input())
    c=a+b
    print("The sum is: ",c)
elif ch == '2':
    print("Solve for the difference")
    a=int(input("Input numbers to solve: "))
    b=int(input())
    c=a-b
    print("The answer is: ",c)
elif ch == '3':
    print("Solve using multiplication")
    a=int(input("Input numbers to solve: "))
    b=int(input())
    c=a*b
    print("Answer is: ",c)
elif ch == '4':
    print("Solve using division")
    a=int(input("Input numbers to solve"))
    b=int(input())
    c=a/b
    print("Answer is:",c)
else:
    print("Invalid")
